{{ define "main" }}
<div>
    <div class="landingcenter">
        
        
        
        <div class="homepage-content">
            <div>
                <a href="https://xalgorithms.org" target="_blank">
            <svg width="40" height="40" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="13.9775" cy="14.5193" r="1.97559" transform="rotate(-180 13.9775 14.5193)" fill="#282D3A"/>
                <circle cx="13.9785" cy="8.9631" r="0.69144" transform="rotate(-180 13.9785 8.9631)" fill="#282D3A"/>
                <circle cx="8.29762" cy="14.5194" r="1.08324" transform="rotate(-180 8.29762 14.5194)" fill="#282D3A"/>
                <circle cx="8.29613" cy="3.40685" r="1.49684" transform="rotate(-180 8.29613 3.40685)" fill="#282D3A"/>
                <circle cx="2.61768" cy="8.96314" r="1.64209" transform="rotate(-180 2.61768 8.96314)" fill="#282D3A"/>
                <circle cx="2.61703" cy="14.5194" r="2.48063" transform="rotate(-180 2.61703 14.5194)" fill="#282D3A"/>
                <circle cx="2.61672" cy="3.40682" r="2.61765" transform="rotate(-180 2.61672 3.40682)" fill="#282D3A"/>
                <circle cx="13.9761" cy="3.40682" r="2.61765" transform="rotate(-180 13.9761 3.40682)" fill="#282D3A"/>
                <circle cx="8.29919" cy="8.96313" r="2.28088" transform="rotate(-180 8.29919 8.96313)" fill="#282D3A"/>
                </svg>
            </a>
                </div>
                <p class="label">100% Free/Libre/Open</p>
            <h1>{{ .Title }}</h1>

            
            <div>
                <a href="https://era.xalgorithms.org/" target="_blank">
                    <button>ERA Home</button>
                </a>
            </div>
            <div class="bodytext">  
            {{.Content}}
            </div>
            <p>28 Oct 2021</p>

            <h3>Supporting Documents</h3>

           
        </div>
    
        <div class="sectiongrid">
            <!-- Ranges through content/posts/*.md -->
            {{ range .Site.RegularPages}}
                {{ partial "subsection" . }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}