
<div class="navhold">
    <div class="navbar">
        <div class="logo-hold">
            <a href="/"><h5 class="title">Xalgorithms <br /> Alliance <br /> <span class="light">A Proposal</span></h5></a>
        </div>
        <div>
            <ul class="navli">
                {{ range .Site.Sections }}
                            <li>
                                <a href="{{ .Permalink }}" class="navlink">{{ .Title }}</a>
                            </li>
                        {{ end }}
            </ul>
        </div>
    </div>
</div>