
    <div class="subsection">
        <a href="{{ .Params.target}}" target="_blank">
            <h4>{{.Title}}</h4>
        
        
        

            {{ if .Params.label }}
        <div class="dlflex">
            <p>Download</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 22 22"><title>icon-Download</title><path d="M18.59,16.91H3.41a2,2,0,0,1,0-.5,2.69,2.69,0,0,0,0-.5H18.59Z" fill="var(--primary75)"></path><path d="M14,9.73v.94c-.92.84-2.55,2.09-2.88,3.39h-.42A8.85,8.85,0,0,0,8,10.67V9.73l2.47,1.58v-6h1.06v6Z" fill="var(--primary75)"></path></svg>
        </div>
        {{ else }}
        <div class="dlflex">
            <p>Source Code</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 22 22"><title>icon-External</title><path d="M17.3,3.31H4.7a1.2,1.2,0,0,0-1.2,1.2v12.8a.5.5,0,0,0,.5.5.5.5,0,0,0,.42-.24l8.75-8.75.63,2.86.66-.67a8.87,8.87,0,0,1,.43-4.36l-.29-.3c-1.15.69-3.19.42-4.43.37l-.67.66,2.92.68L4.5,16V4.51a.2.2,0,0,1,.2-.2H17.3a.2.2,0,0,1,.2.2v13a.2.2,0,0,1-.2.2H7.75a.5.5,0,0,0-.5.5.5.5,0,0,0,.5.5H17.3a1.2,1.2,0,0,0,1.2-1.2v-13A1.2,1.2,0,0,0,17.3,3.31Z" fill="var(--primary75)"></path></svg>
        </div>
        {{end}}
        
        </a>
    </div>
